@font-face {
  font-family: Inter, system-ui;
  src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

* {
  font-family: "Inter", system-ui;

  animation: global;
  animation-duration: 0.4s;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  background-color: #fefefe;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px 20px;
  background-color: #D9D9D9;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.btns-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

.reminder-btn {
  padding: 15px 0 15px 0;

  border-radius: 10px;

  text-align: center;

  color: black;
  background-color: #fefefe;

  font-size: 16px;
  font-weight: 500;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.reminder-btn:hover {
  cursor: pointer;
  background-color: #fefefe9b;
}

.reminder-btn:active {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.reminder-btn:disabled {
  background-color: #fefefe7c;
  color: #D9D9D9;
  box-shadow: none;
  filter: grayscale(80%);
  cursor: auto;
}

footer {
  padding: 5px;

  text-align: center;


  background-color: #fefefe;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
}