@font-face {
  font-family: Poppins, system-ui;
  src: url("../fonts/Poppins/Poppins-Black.ttf");
}

* {
  font-family: "Poppins-Black", system-ui;

  color: #F0EFEF;

  user-select: none;

  transition-duration: 0.3s;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigation {
  padding: 2em;
  background-color: #060404;
}

.navigation h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2em 2em;
  background-color: #121010;
}

.btns-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1 1 auto;
}

.reminder-btn {
  padding: 1em 0;

  border-radius: 0.5em;

  text-align: center;


  background-color: #AC403E;

  font-size: 16px;

  font-weight: 500;
}

#stop-btn {
  background-color: #280909;
}

#stop-btn:disabled {
  display: none;
}

.reminder-btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 40px 0px rgba(172, 64, 62, 0.50);
}

.reminder-btn:active {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.reminder-btn:disabled {
  box-shadow: none;
  filter: grayscale(100%);
  cursor: auto;
}

footer {
  padding: 0.5em;
  color: #F0EFEF;

  text-align: center;


  background-color: #060404;
}